@model KitapTuru

@if (TempData["basarisiz"] != null)
{
    <h3 style ="color:red">@TempData["basarisiz"]</h3>
}

<h2>Ekle</h2>

<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Kitap Türü Adı</label>
        <input asp-for="Ad" class="form-control"  placeholder="Kitap Türü Giriniz">
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
 
    <button type="submit" class="btn btn-success mt-3">Ekle</button>
    <a class="btn btn-primary mt-3" asp-action="Index" asp-controller="KitapTuru" role="button">Kitap Türlerine Git</a>
</form>
